{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<div class="post-title">
  <h1><a href="{{url}}"><font size=5><i>{{title}}</i></font></a></h1>
</div>
<div class="post-content">
<h4>
  <time datetime="{{date format=" YYYY-MM-DD "}}">{{date format=" YYYY MMM DD"}}</time> -
  <a href="{{url}}"><font size=5><i>{{title}}</i></font></a>
</h4>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
<div class="center">
  {{pagination}}
</div>
