{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<div class="post-title">
  <a href="{{url}}"><font size=3 face="Courier New">{{title}}</font></a></br>
    <span class="small">{{author}} at</span>
    <time class="small" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY MMM DD"}}</time>
    <span class="small">{{tags prefix=" | "}}</span>
    <span class="small"> | </span></br>
</div>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
<div class="center">
  {{pagination}}
</div>
