<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{code}} — {{message}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  <meta http-equiv="cleartype" content="on">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{asset "css/error.css" }}" />
</head>

<body>
  <div class="container">
    <header class="center">
      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
      <div class="blog-description">{{@blog.description}}</div>
    </header>
    <div class="error-container center">
          <article class="post">
              <p>
                人 生 若 只 如 初 见&nbsp;&nbsp;rén shēng ruò zhǐ rú chū jiàn  
              </p>
              <p>
                何 事 秋 风 悲 画 扇&nbsp;&nbsp;hé shì qiū fēng bēi huà shān  
              </p>
              <p>
                等 闲 变 却 故 人 心&nbsp;&nbsp;děng xián biàn què gù rén  xīn  
              </p>
              <p>
                却 道 故 人 心 易 变&nbsp;&nbsp;què dào gù rén xīn yì biàn  
              </p>
              <p>
                骊 山 语 罢 清 宵 半&nbsp;&nbsp;lí shān yǔ bà qīng xiāo bàn<br>
              </p>
              <p>
                泪 雨 霖 铃 终 不 怨&nbsp;&nbsp;lèi yǔ lín líng zhōng bù yuàn<br>
              </p>
              <p>
                何 如 薄幸 锦 衣 郎&nbsp;&nbsp;hé rú bó xìng jǐn yī láng<br>
              </p>
              <p>
                比 翼 连 枝 当 日 愿&nbsp;&nbsp;bǐ yì lián zhī dāng rì yuàn<br>
              </p>
              <br>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 纳兰性德 《木兰花令·拟古决绝词》</p>
          </article>
      <a href="{{@blog.url}}" class="small">← back</a>
      {{#if stack}}
      <h3>Stack Trace</h3>
      <p><strong>{{message}}</strong></p>
      <ul>
        {{#each stack}}
        <li>at
          {{#if function}}<em class="error-stack-function">{{function}}</em>{{/if}}
          <span class="error-stack-file">({{at}})</span>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <footer class="center">
      <p class="small"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</p>
      <p class="small">Powered by <a href="https://ghost.org" target="_blank">Ghost</a> | Theme - <a href="https://github.com/imgarylai/text" target="_blank">text</a></p>
    </footer>
  </div>
</body>

</html>
